* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 50px;
  font-size: 20px;
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}
.first {
  color: red;
}

#your-name {
  background-color: rgb(255, 237, 118);
  border: 3px solid #444;
  width: 400px;
  padding: 25px;
  margin: 30px;
}
h2 {
  margin-bottom: 20px;
  text-align: center;
}
